
/*Authors with initials: 
 *                    :
 *                    :
 *                    :
 *                    :
 *                    : Ray Tomlin - RT  Divs & validate / Paragraph / Make sure all code, on all files, is commented accordingly
 *                    :
 *                    :
 *
 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
